/*
TO DO: 
- add media queries for breakpoints
*/

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  min-height: 100vh;
  min-width: 100vw;

  background: url(win.png), linear-gradient(0deg, transparent 60%, #eb7434 60%),linear-gradient(215deg, transparent 60%, #3452eb 60%);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom left;

  text-align: center;
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-family: "Roboto", Trebuchet, monospace;
}

h2 {
  color: #fff;

  font-size: 6rem;
  text-transform: uppercase;
  font-family: "Poppins", Courier, monospace;
}

.pop {
  margin-top: 10rem;
  margin-bottom: 6rem;
  margin-left: 6rem;

  padding: .5rem;

  max-width: 40ch;
  border-radius: 1rem;

  background: #fff;
  box-shadow: 4px 4px 2px gray;
}

button {
  position: absolute;

  margin: -18rem 0 0 30rem;
  padding: 2rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 6px 6px 3px brown;

  width: 25rem;

  background-color: goldenrod;
  color: white;

  font-size: 3rem;
  font-weight: bold;
}